@media screen and (max-width: 760px){
    header {
        background-image: url("../img/mobileheader.jpg");
    }
    .logo-1 {
       display: none;
    }
    .menu {
        max-width: 800px;
        margin-left: 200px;

    }
    li {
        padding: 0;
    }
    .title {
        max-width: 760px;
        margin: 0;
        margin-left: 50px;
        float: left;
        margin-top: 150px;
    }
    .content, .content-2 {
        padding: 20px;
    }
    p {
        padding: 15px;
    }
    .galery {
        max-width:760px;
        flex-wrap: wrap;
    }
    .image {
        width: 300px;
        height: 200px;
        margin: 10px;
    }
    footer {
        padding: 60px;
    }
}