@media screen and (max-width: 760px){
    .nav-logo {
        display: none;
    }
    .nav {
        padding: 0;
        justify-content: center;
        padding: 20px 0px;
    }
    .nav li {
        padding: 8px;
    }
    .nav a {
        font-size: 14px;
    }
    .title {
        margin-top: 10px;

    }
    .title img {
        width: 120px;

    }
    .logo img {
        width: 120px;
    }
    .title  h1 {
        font-size: 40px;
    }
    .title p {
        max-width: 300px;
    }
    .content-img img {
        max-width: 60px;
        
        
    }
    .content-img p {
        max-width: 150px;
        font-size: 14px;
        margin: 5px;
        padding: 0;
        
    }
    .contents {
        margin: 10px;
    }
    .content h2 {
        font-size: 30px;
    }
    .imagens img {
        width: 150px;
        height: 100px;
        
    }
    .imagens.imagem h3 {
        max-width: 150px;
        font-size: 14px;
        margin-left: 10px;
    }
    .imagens.imagem p {
        max-width: 150px;
        margin: 0;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 14px;
        margin-bottom: 40px;
    }
}