* {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.nav-logo{
    width: 70px;
}
.nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}
ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding: 12px;
    border: 1px solid transparent;
}
li:hover {
    border: 1px solid white;
    transition: 0.2s;
}
a {
    text-decoration: none;
    color: white;
}
header {
    background-image: url('../img/home-1-slider-image-2.jpg');
    height: 100vh;
    background-repeat: no-repeat;
}
.title-bloco {
    display: flex;
    justify-content: row;
    justify-content: end;
    margin-top: 80px;
    margin-right: 10%;
    margin-left: 10%;
    
}
.title  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.title h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 20px 0px;
}
.title p {
    max-width: 600px;
    margin: 20px 0px; 
    font-weight: 300;

}
input {
    cursor: pointer;
    width: 180px;
    height: 50px;
    margin: 20px 0px; 
    border: 1.5px solid #ffffffbe;
    background-color: rgba(0, 0, 0, 0.653);
    opacity: 0.9;
    color: white;
}
input:hover {
    transition: 0.3s;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.709);
    
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px 10px;
    
}
.content h2 {
    font-weight: 600;
    font-size: 50px;
    margin: 20px 10px;
    
}
.content p {
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0px;
    font-weight: 300;
    

}
.contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.content-text {
    max-width: 300px;
    margin:0px 20px;
    

}
/*##### Galeria #####*/
.color-galeria {
    background-color: rgba(208, 176, 133, 0.76);    
}
.content-galeria {
    margin-top: 80px;
    
    
}
.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.imagens img {
    width: 370px;
    height: 250px;
    margin: 10px;
}
.pre-footer {
    background-color: bisque;
    height: 500px;
}
footer {
    background-image: url('../img/cafe1.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.content.footer h2 p {
    font-size: 40px;
    margin: 0px 20px;
}
