* {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.nav-logo{
    width: 70px;
}
.nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   height: 5vh;
}
ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding: 12px;
    border: 1px solid transparent;
}
li:hover {
    border: 1px solid white;
    transition: 0.2s;
}
a {
    text-decoration: none;
    color: white;
}
header {
    background-image: url('../img/home-1-slider-image-2.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title-bloco {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 10%;
    margin-left: 10%;
    
}
.title  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 90vh;
}
.title h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 20px 0px;
}
.title p {
    max-width: 600px;
    margin: 20px 0px; 
    font-weight: 300;

}
.title input {
    cursor: pointer;
    width: 180px;
    height: 50px;
    margin: 20px 0px; 
    border: 1.5px solid #ffffffbe;
    background-color: rgba(0, 0, 0, 0.653);
    opacity: 0.9;
    color: white;
}
input:hover {
    transition: 0.3s;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.709);
    
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px 10px;
    
}
.content h2 {
    font-weight: 600;
    font-size: 50px;
    margin: 20px 10px;
    
}
.content p {
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0px;
    font-weight: 300;
    

}
.content-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-img img {
    width: 100px;
    margin: 20px;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(208, 176, 133));
}
.contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 40px;
    
}
.content-text {
    max-width: 260px;
    margin:0px 30px;
    

}
/*##### Galeria #####*/
.color-galeria {
    background-color: rgba(208, 176, 133, 0.76);    
}
.content-galeria h2{
    margin-top: 80px;
}
.galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.imagens img {
    width: 370px;
    height: 270px;
    margin: 10px;
}
.imagens.imagem p{
    text-align: justify;
    max-width: 370px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.imagens.imagem h3{
    text-align: justify;
    max-width: 370px;
    margin-left: 10px;
    margin-top: 20px ;
}
.footer {
    background-image: url('../img/cafe1.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
}
.content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 120px 20px;
    max-width: 500px;
}
.content-footer h2 {
    margin-top: 40px;
}
.content-footer p {
    margin-top: 20px;
}
.email {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email input {
    width: 230px;
    height: 50px;
    margin: 20px 0px; 
    border: 1.5px solid #ffffffbe;
    background-color: rgba(0, 0, 0, 0.653);
    color: white;
}
.email input::placeholder {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}
.email img {
    width: 25px;
    margin-top: 12px;
}
.fundo-email{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1.5px solid #ffffffbe;
}
.fundo-email:hover{
    opacity: 0.6
}
.footer-final {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
    background-color: #141414;
   
}
.footer-final li {
    border: none;
}
.footer-final li:hover {
    color: rgba(208, 176, 133, 0.76);
}
.footer-final ul {
    margin-right: 160px;
}
.rede-social {
    max-width: 22px;
    display: flex;
    flex-direction: row-reverse;
}
.rede-social img {
    margin-left: 8px;
}


